.submit-match-container {
    padding: 1em;
}

.versus, .score {
    img {
        height: 64px;
    }
}

h3.xvx-label {
    margin-left: 0.5em;
    margin-right: 0.5em;

}

mat-tab-group {
    margin-bottom: 2em;
}