<div fxLayout="column">
  <div>
    <h3>1 versus 1</h3>
  </div>

  <!-- PLAYERS -->
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxFlexGrow>
    <div fxFlex fxFlexGrow>
      <form class="player-form">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Pick 'Home' Player" aria-label="Home" matInput
            [formControl]="homePlayerControl" [matAutocomplete]="autoHome">
          <mat-autocomplete #autoHome="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsHome | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="versus">
      <img src="./assets/versus.png">
    </div>
    <div fxFlex fxFlexGrow>
      <form class="player-form">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Pick 'Guest' Player" aria-label="Guest" matInput
            [formControl]="guestPlayerControl" [matAutocomplete]="autoGuest">
          <mat-autocomplete #autoGuest="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsGuest | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>